<!--<md-card class="card">
  <img class="md-card-img" src="{{contact.avatar}}" alt="avatar"/>
  <md-card-title id="title">
    <md-card-title-text>
      {{contact.name}}
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <ul>
      <li class="email"><a href="mailto:{{contact.email}}">{{contact.email}}</a></li>
      <li class="phone">{{contact.phone}}</li>
      <li class="birthday">{{contact.birthday}}</li>
    </ul>
  </md-card-content>
  <md-card-actions>
    <button md-button><i class="material-icons">mail</i></button>
    <button md-button><i class="material-icons">call</i></button>
  </md-card-actions>
</md-card>
-->
<md-card>
  <img md-card-image src="{{ contact.avatar }}" alt="avatar">
  <md-card-title>
    {{ contact.name }}
  </md-card-title>
  <md-card-content>
    <md-list dense>
      <md-list-item class="email">
        <a href="mailto:{{contact.email}}">
          {{ contact.email }}
        </a>
      </md-list-item>
      <md-list-item class="phone">
        {{contact.phone}}
      </md-list-item>
      <md-list-item class="birthday">
        {{ contact.birthday }}
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button><i class="material-icons">mail</i></button>
    <button md-button><i class="material-icons">call</i></button>
  </md-card-actions>
</md-card>
