<md-card class="card">
  <img md-card-img src="{{contact.avatar}}" alt="avatar"/>
  <md-card-title id="title">
    {{contact.name}}
  </md-card-title>
  <md-card-content>
    <md-list dense>
      <md-list-item>
        <a href="mailto:{{contact.email}}">{{contact.email}}</a>
      </md-list-item>
      <md-list-item>
        {{contact.phone}}
      </md-list-item>
      <md-list-item>
        {{contact.birthday}}
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button><i class="material-icons">mail</i></button>
    <button md-button><i class="material-icons">call</i></button>
  </md-card-actions>
</md-card>
